<div class="sidebar">

  <div class="logo">
    <span class="hc">HC</span>
    <span class="store">STORE</span>
  </div>

  <nav>

    <a routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      DASHBOARD
    </a>

    <a routerLink="/admin/produtos" routerLinkActive="active">
      TODOS OS PRODUTOS
    </a>

    <a routerLink="/admin/pedidos" routerLinkActive="active">
      LISTA DE PEDIDOS
    </a>

    <a routerLink="/admin/usuarios" routerLinkActive="active">
      USUÁRIOS
    </a>

    <a routerLink="/admin/adicionar-produto" routerLinkActive="active">
      ADICIONAR PRODUTO
    </a>

  </nav>

</div>
