:host {
  display: block;
  width: 100%;
  background: #ffffff;
  color: #000000;

  --bg-light: #f2f2f2;
  --bg-dark: #000000;
  --accent: #39ff14;
}

* {
  box-sizing: border-box;
}

.colecoes-page {
  width: 100%;
  background: #ffffff;
}

/* TOPO */
.launch-top {
  background: #f2f2f2;
  text-align: center;
  padding: 35px 20px 18px;
}

.launch-label {
  color: #39ff14;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.launch-title {
  color: #000;
  font-size: 64px;
  font-weight: 900;
  line-height: 0.9;
  margin: 0;
  letter-spacing: 1px;
}

.launch-subtitle {
  color: #000;
  font-size: 32px;
  font-weight: 900;
  margin: 0;
  line-height: 1;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-top: 8px;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-box strong {
  color: #000;
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
}

.time-box span {
  color: #39ff14;
  font-size: 11px;
  font-weight: 700;
}

/* PARTE PRETA */
.launch-bottom {
  background: #000;
  min-height: 550px;
  padding: 40px 40px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin-bottom: 50px;
}

.product-image {
  width: 620px;
  height: 390px;
  border-radius: 38px;
  overflow: hidden;
  flex-shrink: 0;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* TEXTO */
.product-info {
  width: 330px;
  color: #fff;
}

.product-info h3 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 16px;
}

.product-info p {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.45;
  margin-bottom: 45px;
}

.cta-button {
  color: #39ff14;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  display: inline-flex;
  align-items: center;
  gap: 18px;
}

.cta-button span {
  font-size: 24px;
}

.cta-button:hover {
  opacity: 0.8;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .launch-title {
    font-size: 42px;
  }

  .launch-subtitle {
    font-size: 24px;
  }

  .launch-bottom {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 18px;
  }

  .product-image {
    width: 100%;
    height: 320px;
  }

  .product-info {
    width: 100%;
  }
}