<footer>
  <div class="footer-grid">
    <div>
      <h1><span class="hg">HC</span> STORE</h1>

      <p>
        Moda masculina premium com estética minimalista, industrial e peças
        selecionadas para elevar seu visual.
      </p>

      <nav class="icons-media">
        <a href="#">
          <img src="assets/image/instagram.svg" alt="Instagram" />
        </a>

        <a href="#">
          <img src="assets/image/x.svg" alt="X" />
        </a>

        <a href="#">
          <img src="assets/image/facebook.svg" alt="Facebook" />
        </a>
      </nav>
    </div>

    <div class="support">
      <h2>Suporte</h2>
      <a routerLink="/faq">Perguntas frequentes</a>
      <a routerLink="/shipping">Envio e devoluções</a>
      <a routerLink="/size-guide">Guia de tamanhos</a>
      <a routerLink="/track-order">Rastrear pedido</a>
    </div>

    <div class="enterprise">
      <h2>Empresa</h2>
      <a routerLink="/about">Sobre nós</a>
      <a routerLink="/sustainability">Sustentabilidade</a>
      <a routerLink="/careers">Carreiras</a>
      <a routerLink="/contact">Contato</a>
    </div>

    <div>
      <div class="coupon">
        <h3>Use o cupom:</h3>
        <h2>PRIMEIRA15</h2>
        <h3>Ganhe 15% de desconto na sua primeira compra.</h3>
      </div>

      <div class="e-mail-box">
        <input type="text" placeholder="Endereço de e-mail" />
      </div>
    </div>
  </div>
</footer>
